/* Sidenote styling */
.sidenote-wrapper {
  position: relative;
  display: inline-block; /* Or inline-flex if you need to align elements */
}

.sidenote-ref {
  text-decoration: none;
  color: inherit; /* Inherit the text color */
  cursor: pointer;
  margin-left: 0.2rem;
}

.sidenote {
  display: none;
  position: absolute;
  top: -1.5rem;
  left: 1.5rem;
  background: #f0f0f0;
  border: 1px solid #ddd;
  padding: 0.5rem;
  width: max-content;
  max-width: 200px;
  border-radius: 4px;
  z-index: 1000; /* Keep the sidenotes on top */
  font-size: 0.85rem;
}

.sidenote-wrapper:hover .sidenote,
.sidenote-wrapper:focus-within .sidenote {
  display: block; /* Show sidenote on hover or focus */
}

.article-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
  overflow-x: auto;
  display: block;
}

.article-content th,
.article-content td {
   border: 1px solid var(--color-border);
   padding: 0.7rem;
   text-align: left;
}

.article-content th {
 background-color: #f0f0f0;
 font-weight: bold;
}

.article-content tr:nth-child(even) {
 background-color: #f9f9f9;
}