---
import Layout from '../layouts/Layout.astro';
import ArticlePreview from '../components/ArticlePreview.astro';
import { getCollection } from 'astro:content';
// Fetch content from the 'src/content/blog' directory
const blogPosts = await Astro.glob('../content/blog/*.md');
// const allBlogPosts = await getCollection('blog');
// const recentBlogPosts = allBlogPosts
//   .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
//   .slice(0, 3);


blogPosts.sort((a, b) => new Date(b.frontmatter.publishDate).getTime() - new Date(a.frontmatter.publishDate).getTime());
const recentPosts = blogPosts.slice(0, 3);
---

<Layout title="meillaya">
  <section class="intro">
    <p>
      This is the website of Nathan Agbomedarho. I work on performance optimization and systems programming, and maybe some full-stack dev work from time to time.
      {" "}<a href="/about">More about me</a>.
    </p>
  </section>

  <section class="articles">
    {recentPosts.map(post => (
      <ArticlePreview
        title={post.frontmatter.title}
        description={post.frontmatter.description}
        date={post.frontmatter.date}
        slug={post.file.split('/').pop().replace('.md', '')}
      />
    ))}
  {blogPosts.length > 3 && (
    <p>
      <a href="/archive">View all posts →</a>
    </p>
  )}
    
  </section>

  
</Layout>

<style>
  .intro {
    margin: 2rem 0 4rem;
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .articles {
    margin-top: 2rem;
  }
</style>